{% extends '@FOSUser/layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="row pull-right">
            <a href={{ path('homepage') }}>Back</a>
        </div>
        <div class="row"></div>
        <div class="row">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {"attr": {"class": "form-control"}}) }}
                    {{ form_errors(form.file) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.file) }}
                    {{ form_widget(form.file, {"attr": {"class": "form-control"}}) }}
                    {{ form_errors(form.file) }}
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="form-control pull-right">
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}