{% extends '@FOSUser/layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="row pull-right">
            <a href={{ path('add_track') }}>Add new track</a>
        </div>
        <div class="row">
            {% if tracks is not empty %}
                <h3>Saved tracks:</h3>
                <table class="table">
                    <tbody>
                    <thea>
                        <th>Title</th>
                        <th>Added</th>
                        <th>Action</th>
                    </thea>
                    {% for track in tracks %}
                        <tr>
                            <td>{{ track.getTitle() }}</td>
                            <td>{{ track.getTsi()|date('Y-m-d, H:i:s') }}</td>
                            <td><a class="delete"
                                   href="{{ path('delete_track', {"trackId": track.getId()}) }}">Delete</a> |
                                <a href="{{ path('view_track', {"trackId": track.getId()}) }}">View</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    {% javascripts '@AppBundle/Resources/public/js/admin.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}