<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}GPS tracking{% endblock %}</title>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
{% set leftCol="col-xs-4" %}
{% set middleCol="col-xs-4" %}
{% set rightCol="col-xs-4" %}
<div class="container-fluid">
    <div class="row page-header">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="{{ leftCol }}"></div>
            <div class="{{ middleCol }}"></div>
            <div class="{{ rightCol }}">
                Hello {{ app.user.username }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'Logout' }}
                </a>
            </div>
        {% else %}
            <div class="{{ leftCol }}"></div>
            <div class="{{ middleCol }}">
                <h2>Hello stranger</h2>
                <p>Please login in order to manage your tracks.</p>
            </div>
            <div class="{{ rightCol }}">
                <a href="{{ path('fos_user_security_login') }}">Login</a> or
                <a href="{{ path('fos_user_registration_register') }}">Register</a>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="{{ leftCol }}"></div>
        <div class="{{ middleCol }}">
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="{{ rightCol }}"></div>
    </div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="row content">
            <div class="{{ leftCol }}"></div>
            <div class="{{ middleCol }}">
                {% block content %}
                {% endblock %}
            </div>
            <div class="{{ rightCol }}"></div>
        </div>
    {% endif %}

    <div class="row">
        <div class="{{ leftCol }}"></div>
        <div class="{{ middleCol }}">
            {% block fos_user_content %}
            {% endblock %}
        </div>
        <div class="{{ rightCol }}"></div>
    </div>
</div>
</body>
</html>