{% extends '@FOSUser/fullwidth_layout.html.twig' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div id="map" class="col-xs-12" style="width: 100%; height: 800px"></div>
        </div>
    </div>
    {% javascripts '@AppBundle/Resources/public/js/track.js' %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}" async defer></script>
    <script>var data = {{ data|raw }};</script>
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}